* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: blanchedalmond;
}

#container {
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  gap: 0.5em;
  color: aliceblue;
}

#movie-section {
  margin: 3em;
  display: flex;
  flex-direction: row;
  max-width: 60em;
}

#poster {
  max-height: 30em;
}

#movie-info {
  justify-content: center;
  align-items: center;
}

#trailer {
  bottom: 2em;
}

