* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgb(5, 47, 60);
}

h1 {
  font-size: 3ch;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  color: aliceblue;
}

#movie-section {
  display: flex;
  flex-direction: row;
  max-width: 50em;
  border-radius: 0.5%;
}

#poster {
  max-height: 35em;
}

#title {
  text-decoration: underline;
}

#movie-info {
  justify-content: center;
  align-items: center;
  padding: 1em;
}

#trailer {
  height: 15em;
  width: 20em;
  margin: 1em 1em 0em 1em;
}

